@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  
.spin {
  animation: spin 10s linear infinite;
}

.stop {
  animation-play-state: paused;
}


.grainy {
  background-image: url(https://grainy-gradients.vercel.app/noise.svg); 
}

.elevate {
  transition: top ease 0.5s;
}

.elevate:hover {
  top: -10px;
}
